@import url(//fonts.googleapis.com/css?family=Lato:300:400);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

.header {
    background: linear-gradient(60deg,
            #543ab7 0%,
            #00acc1 100%);
    color: #fff;
}

.head {
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header .head span {
    width: 80px;
    height: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

.header .head span img {
    width: 100%;
    height: 100%;
}

.header .head h1,
.header .head h3 {
    text-align: center;
}

.header h1 {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
}

.header h3 {
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 38px;
    color: #ffffffe6;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/* ===================================================================== */

.space {
    height: 100px;
    width: 100%;
}

/* ===================================================================== */

.websites {
    width: 100%;
    padding: 2rem 4rem;
}

.websites h1 {
    letter-spacing: 1px;
    font-size: 40px;
    color: #222;
    width: fit-content;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    border: 2px solid #333;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.websites h1::before,
.websites h1::after {
    content: '';
    width: 15px;
    height: 15px;
    background: linear-gradient(60deg, #543ab7 0%, #00acc1 100%);
    position: absolute;
    top: 50%;
    margin-top: -7.5px;
    border-radius: 50%;
}

.websites h1::before {
    left: -30px;
}

.websites h1::after {
    right: -30px;
}

.websites h1:hover::before {
    animation: fill-right 2s both;
}

.websites h1:hover::after {
    animation: fill-left 2s both;
}

@keyframes fill-right {

    20%,
    40%,
    60%,
    80% {
        left: 0;
    }

    90% {
        left: 0;
        top: 0;
        margin-top: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    100% {
        left: 0;
        top: 0;
        margin-top: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        z-index: -1;
    }
}

@keyframes fill-left {

    20%,
    40%,
    60%,
    80% {
        right: 0;
    }

    90% {
        right: 0;
        top: 0;
        margin-top: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    100% {
        right: 0;
        top: 0;
        margin-top: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        z-index: -1;
    }
}

.websites h1:hover {
    color: #fff;
    transition-delay: 1.5s;
}

.websites .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.websites .container .div {
    height: 95%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    border: 4px solid #cecece;
    box-shadow: 0 5px 10px #555;
}

.websites .container .div.note {
    position: relative;
}

.websites .container .div.note::before {
    content: 'only pc or laptop';
    height: 30px;
    background-color: #ff000080;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    padding-inline: 10px;
    color: #fff;
    font-weight: bold;
    z-index: 2;
}

img {
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.middle {
    opacity: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .5s ease;
}

.websites .container .div:hover img {
    opacity: 0.3;
}

.websites .container .div:hover .middle {
    opacity: 1;
}

.text {
    background-color: #1194bf;
    color: white;
    padding-block: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 992px) {
    .websites .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .header h1 {
        letter-spacing: 1px;
        font-size: 38px;
    }

    .header h3 {
        font-size: 28px;
    }
}

@media (max-width: 600px) {
    .websites .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .websites .container .div {
        height: 100%;
    }

    .header h1 {
        letter-spacing: 1px;
        font-size: 30px;
    }

    .header h3 {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .header h1 {
        letter-spacing: 1px;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .header h3 {
        font-size: 18px;
        font-weight: 600;
    }

    .websites h1 {
        font-weight: 600;
        font-size: 28px;
    }
}

@media (max-width: 300px) {
    .websites{
        padding: 2rem;
    }
    .websites .container .div {
        height: 110%;
    }
        .websites h1 {
            font-weight: 600;
            font-size: 22px;
        }
}