* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sky {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #87CEEB, #ffffff);
}

.cloud-1,
.cloud-2,
.cloud-3 {
  border-radius: 50%;
  height: 100px;
  width: 300px;
  position: absolute;
}

.cloud-1 {
  animation: move-1 25s linear infinite;
}

.cloud-2 {
  animation: move-2 40s linear infinite;
}

.cloud-3 {
  animation: move-3 30s linear infinite;
}

.top {
  position: absolute;
  top: 20%;
  left: 25%;
  height: 120px;
  width: 170px;
}


.c1,
.c2,
.c3,
.c4,
.c5,
.c6 {
  position: absolute;
  border-radius: 50%;
  background-color: #FFFFFF;
  box-shadow: 5px 10px 10px #0000001a;
}

.c1 {
  top: 30%;
  left: 10%;
  height: 60px;
  width: 60px;
}

.c2 {
  top: 25%;
  left: 35%;
  height: 60px;
  width: 60px;
}

.c3 {
  top: 30%;
  left: 60%;
  height: 60px;
  width: 60px;
}

.c4 {
  top: 50%;
  left: 10%;
  height: 60px;
  width: 60px;
}

.c5 {
  top: 50%;
  left: 35%;
  height: 60px;
  width: 60px;
}

.c6 {
  top: 50%;
  left: 56%;
  height: 60px;
  width: 60px;
}

.flower-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.flower {
  position: relative;
  width: 200px;
  height: 200px;
  bottom: 220px;
  animation: rotate 60s linear infinite;
  z-index: 1;
}

.petal {
  position: absolute;
  top: 50%;
  left: 70%;
  width: 80px;
  height: 40px;
  background: #fa8072;
  border-radius: 50%;
  transform-origin: 0 50%;
  z-index: 1;
}

.petal:nth-child(1) {
  transform: translate(-50%, -50%) rotate(0deg);
}

.petal:nth-child(2) {
  transform: translate(-50%, -50%) rotate(90deg);
}

.petal:nth-child(3) {
  transform: translate(-50%, -50%) rotate(180deg);
}

.petal:nth-child(4) {
  transform: translate(-50%, -50%) rotate(270deg);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
}

.leg {
  position: absolute;
  width: 10px;
  height: 300px;
  border-radius: 10px;
  background-color: green;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes move-1 {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(450%);
  }
}

@keyframes move-2 {
  0% {
    transform: translateX(-250%);
  }

  100% {
    transform: translateX(450%);
  }
}

@keyframes move-3 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(450%);
  }
}

.grass {
  background: linear-gradient(to bottom, #8BC34A, #558B2F);
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.grass:before {
  content: '';
  position: absolute;
  bottom: 97%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 50vw;
  border-color: transparent transparent #8BC34A transparent;
  border-top-right-radius: 10px;
}

.grass:after {
  content: '';
  position: absolute;
  bottom: 95%;
  right: -80px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 60vw 50px 0;
  border-color: transparent #8BC34A #8BC34A transparent;
  border-top-left-radius: 8px;
}


@media (min-width: 1200px){
  .grass:after{
    right: -140px;
  }
}

@media (max-width: 992px){
  .grass:after {
      bottom: 98%;
    right: -70px;
  }
}
@media (max-width: 767px){
  .grass:after {
    right: -50px;
  }
}
@media (max-width: 550px){
  .grass:after {
    right: -30px;
  }
}
@media (max-width: 350px){
  .grass:after {
    right: -20px;
  }
}