html{
    height: 100%;
    width: 100%;
    background-color: rgb(10, 10, 10);
}

#game {
    width: 300px;
    height: 300px;
    box-shadow: 4px 5px 10px rgb(59, 59, 59);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    padding: 10px;
    font-size: xx-large;
    text-align: center;
    background-color: rgb(93, 226, 220);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    transition: all 0.2s ease-in-out;
}

.cell:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.cell.x {
    color: rgb(255, 255, 255);
}

.cell.o {
    color: #000000;
}

#options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(93, 226, 220);
    color: #fff;
    border-radius: 5px;
    animation: fadeOut 15s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#options label {
    margin-right: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

#options input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    margin-right: 5px;
    outline: none;
    position: relative;
    transition: all 0.2s ease-in-out;
}

#options input[type="radio"]:checked {
    border-color: #fff;
}

#options input[type="radio"]:checked:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #333;
}

h3{
    color: #ffffff;
    position: absolute;
    top: 75%;
    right: 54.5%;

}
span{
    color: rgb(95, 255, 247);
}